.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 0 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 506px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 345px;
  height: 345px;
  background-image: none;
  margin: 40px auto 0;
  padding: 59px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-group-1 {
  min-height: 58px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 12px 0 0 auto;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 12px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 433px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 7px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-line-1 {
  width: 497px;
  transform-origin: left center;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 3px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 7px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-line-2 {
  width: 497px;
  transform-origin: left center;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 3px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 7px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-line-3 {
  width: 497px;
  transform-origin: left center;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 3px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 7px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-line-4 {
  width: 497px;
  transform-origin: left center;
  margin: 0 auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-line-1 {
    width: -16px;
  }

  .u-section-1 .u-line-2 {
    width: -16px;
  }

  .u-section-1 .u-line-3 {
    width: -16px;
  }

  .u-section-1 .u-line-4 {
    width: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 270px;
  }

  .u-section-1 .u-line-2 {
    width: 270px;
  }

  .u-section-1 .u-line-3 {
    width: 270px;
  }

  .u-section-1 .u-line-4 {
    width: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 74px;
  }

  .u-section-1 .u-line-2 {
    width: 74px;
  }

  .u-section-1 .u-line-3 {
    width: 74px;
  }

  .u-section-1 .u-line-4 {
    width: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 10px;
  }

  .u-section-1 .u-line-2 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 10px;
  }

  .u-section-1 .u-line-3 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 10px;
  }

  .u-section-1 .u-line-4 {
    width: 300px;
    margin-left: auto;
  }
}