.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 63px auto 0 24px;
}

.u-section-1 .u-group-1 {
  width: 189px;
  min-height: 61px;
  height: auto;
  margin: -61px auto 0 88px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-1 {
  width: 468px;
  margin: 42px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 254px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  color: rgb(127, 171, 218) !important;
  width: 67px;
  height: 67px;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 67px;
  height: 67px;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}